/*
    The code was written by programmer Truong Tuan Anh
    Thanks for watching and sharing
*/
.search {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 244px;
  height: 100%;
  &__input {
    background: var(--background-color-main);
    border-radius: 10px;
    width: 100%;
    height: 100%;
    padding: 10px 15px;
    color: #292e39;
    font-size: 1rem;
    font-weight: 600;
    line-height: 100%;
  }
  &__input:hover {
    border: 2px solid lightgrey;
    box-shadow: 0px 0px 20px -17px;
  }
  &__input:active {
    transform: scale(0.95);
  }
  &__input:focus {
    border: 2px solid #9e9da8;
  }
  &__input::placeholder {
    color: var(--text-main-color-2);
    font-size: 0.8rem;
    font-weight: 600;
    line-height: 100%;
  }
  &__button {
    position: absolute;
    right: 15px;
    top: 50%;
    transform: translateY(-50%);
    width: 24px;
    height: 24px;
    background: var(--background-color-main);
  }
  &__icon {
    margin-left: 4px;
    width: 24px;
    height: 24px;
    &:hover {
      scale: 1.1;
      color: var(--text-main-color-2);
    }
  }
}
