// The code was written by programmer Truong Tuan Anh
// Thanks for watching and sharing

.layout {
  height: auto;
  &__background {
    position: relative !important;
    z-index: 21;
    background: var(--background-navbar) !important;
    width: 200px !important;
  }
}
.nav {
  &__item {
    height: 100%;
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: flex-start;
  }
  &__icon {
    width: 24px !important;
    height: 24px;
    &--active {
      animation: shake 1s ease infinite;
    }
  }
  &__link {
    color: var(--text-main-color);
    font-weight: 400;
    font-size: 1rem;
  }
}
.active {
  font-weight: 600;
  color: var(--text-main-color-2);
}
