html {
  --color-text-study: #333; /* Đặt màu văn bản mặc định */
  --color-link: #ffb900; /* Màu cho liên kết */
  --line-height: 1.6; /* Chiều cao dòng mặc định */
  --font-size-base: 1.1rem; /* Kích thước phông chữ cơ bản */
  --font-size-heading: 2rem; /* Kích thước phông chữ cho tiêu đề */
}

html.dark {
  --color-text-study: #9e9da8; /* Đặt màu văn bản mặc định */
  --color-link: #ffb900; /* Màu cho liên kết */
  --line-height: 1.6; /* Chiều cao dòng mặc định */
  --font-size-base: 1.1rem; /* Kích thước phông chữ cơ bản */
  --font-size-heading: 3rem; /* Kích thước phông chữ cho tiêu đề */
}

.study {
  font-family: "Pridi", serif;
  line-height: var(--line-height);
}
.study strong {
  font-weight: 700;
  color: var(--);
}
/* Các đoạn văn bản trong blog */
.study p {
  color: var(--color-text-study);
  font-size: var(--font-size-base);
  line-height: 1.5;
}

/* Các tiêu đề trong blog */
.study h1 {
  margin: 20px 0 10px; /* Đặt margin trên và dưới */
  font-size: 2rem; /* Kích thước font cho h1 */
  line-height: 1.2; /* Chiều cao dòng cho tiêu đề */
  font-weight: 600; /* Độ đậm chữ */
  color: var(--color-text); /* Màu chữ */
}

.study h2 {
  margin: 20px 0 10px; /* Đặt margin trên và dưới */
  font-size: 1.75rem; /* Kích thước font cho h2 */
  line-height: 1.2; /* Chiều cao dòng cho tiêu đề */
  font-weight: 600; /* Độ đậm chữ */
  color: var(--color-text); /* Màu chữ */
}

.study h3 {
  margin: 20px 0 10px; /* Đặt margin trên và dưới */
  font-size: 1.5rem; /* Kích thước font cho h3 */
  line-height: 1.2; /* Chiều cao dòng cho tiêu đề */
  font-weight: 600; /* Độ đậm chữ */
  color: var(--color-text); /* Màu chữ */
}

.study h4 {
  margin: 20px 0 10px; /* Đặt margin trên và dưới */
  font-size: 1.25rem; /* Kích thước font cho h4 */
  line-height: 1.2; /* Chiều cao dòng cho tiêu đề */
  font-weight: 600; /* Độ đậm chữ */
  color: var(--color-text); /* Màu chữ */
}

.study h5,
.study h6 {
  margin: 20px 0 10px; /* Đặt margin trên và dưới */
  font-size: var(--font-size-heading); /* Kích thước font cho h5, h6 */
  line-height: 1.2; /* Chiều cao dòng cho tiêu đề */
  font-weight: 600; /* Độ đậm chữ */
  color: var(--color-text); /* Màu chữ */
}

/* Các liên kết trong blog */
.study li a {
  color: var(--color-link) !important;
  text-decoration: none; /* Loại bỏ gạch chân mặc định của liên kết */
}

.study a:hover {
  text-decoration: underline; /* Gạch chân khi di chuột qua liên kết */
}

/* Các kiểu cho danh sách không có thứ tự */
.study ul,
.study ol {
  margin: 0 0 20px; /* Đặt margin dưới để tạo khoảng cách */
  padding-left: 20px; /* Đặt padding trái cho danh sách */
}

.study li {
  list-style: disc;
  margin-top: 20px;
  margin-bottom: 10px; /* Đặt margin dưới cho mỗi mục danh sách */
  font-size: var(--font-size-base);
  color: var(--color-text-study);
  line-height: 1.5;
}

.study p br {
  content: ""; /* Tạo nội dung rỗng để có thể định nghĩa kiểu */
  line-height: 1; /* Bỏ line-height cho <br> để không làm tăng khoảng cách */
  display: block; /* Biến <br> thành block để dễ điều chỉnh */
  margin: 0; /* Không có khoảng cách thêm */
}
.study p img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  border-radius: 10px;
}
/* Responsive styles */
@media (max-width: 1200px) {
  html {
    --font-size-base: 1rem; /* Giảm kích thước phông chữ cơ bản cho màn hình nhỏ hơn */
    --font-size-heading: 2.5rem; /* Giảm kích thước phông chữ tiêu đề cho màn hình nhỏ hơn */
  }
}

@media (max-width: 992px) {
  .study p {
    font-size: 0.9rem; /* Giảm kích thước phông chữ cho đoạn văn bản */
  }

  .study h1,
  .study h2,
  .study h3 {
    font-size: 2rem; /* Giảm kích thước phông chữ tiêu đề */
  }
}

@media (max-width: 768px) {
  .study {
    padding: 0 15px; /* Thêm padding cho các phần tử blog */
  }

  .study p {
    margin-top: 8px; /* Giảm margin cho đoạn văn bản */
  }

  .study li {
    font-size: 0.8rem; /* Giảm kích thước phông chữ cho mục danh sách */
  }
}

@media (max-width: 576px) {
  .study h1 {
    font-size: 1.5rem; /* Giảm kích thước tiêu đề h1 cho màn hình rất nhỏ */
  }

  .study h2 {
    font-size: 1.3rem; /* Giảm kích thước tiêu đề h2 cho màn hình rất nhỏ */
  }

  .study h3 {
    font-size: 1.2rem; /* Giảm kích thước tiêu đề h3 cho màn hình rất nhỏ */
  }

  .study p {
    font-size: 0.85rem; /* Giảm kích thước phông chữ cho đoạn văn bản */
  }
}
