@use "../abstracts";
.ant-menu-item {
  margin-top: 20px !important;
  padding-left: 24px !important;
  padding-top: 5px !important;
  padding-bottom: 3px !important;
}
.ant-menu-item-selected {
  background: #b8b8bb;
  background: var(--background-hover-navbar);
}

//slider
.slider-container {
  border-radius: 10px;
  height: 335px;
  width: 100%; // Điều chỉnh kích thước theo nhu cầu
  overflow: hidden; // Ẩn phần tràn ra ngoài để slider gọn gàng
}

.slick-slide {
  display: flex; // Đảm bảo các slide được hiển thị như các phần tử flex
  justify-content: center; // Căn giữa nội dung bên trong các slide
  align-items: center; // Căn giữa nội dung theo chiều dọc bên trong các slide
}
.slick-dots {
  display: flex !important;
  gap: 6px;
}
.slick-dots li,
.slick-dots li button {
  width: 32px;
  border-radius: 8px;
  height: 4px;
  background: var(--background-color-main) !important;
  position: relative;
  @include abstracts.breakpoint(md) {
    width: 20px !important;
  }
}

.slick-dots li.slick-active button {
  background: var(--background-color-main-2) !important;
  z-index: 2;
  width: 32px !important;
  height: 4px !important;
  border-radius: 8px !important;
  position: relative;
  @include abstracts.breakpoint(md) {
    width: 20px !important;
  }
}
.slick-dots li button:before {
  display: none;
}
.ant-layout {
  background: var(--color-background-layout) !important;
}
.ant-layout-content {
  min-height: auto !important;
}
.ant-menu-item-selected {
  background: var(--background-active-color) !important;
}
#nprogress .bar {
  background: #9796f0; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #fbc7d4,
    #9796f0
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #fbc7d4,
    #9796f0
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  height: 4px; /* Độ dày vừa phải */
  position: fixed;
  z-index: 1031;
  top: 0;
  left: 0;
  width: 50%; /* Giả lập đang tải được 50% */
  border-radius: 20px;
}

#nprogress .peg {
  display: block;
  position: absolute;
  right: 0px;
  width: 100px;
  height: 100%;
  opacity: 1;
  -webkit-transform: rotate(3deg) translate(0px, -4px);
  transform: rotate(3deg) translate(0px, -4px);
  box-shadow: 0 0 10px rgba(255, 105, 135, 0.8), 0 0 5px rgba(255, 152, 0, 0.6); /* Bóng mờ chạy theo */
}
