@forward "./home";
@forward "./notfound";
@forward "./commingsoon";
@forward "./login";
@forward "./signup";
@forward "./resetpass";
@forward "./studyplant";
@forward "./blog";
@forward "./detail";
@forward "./study";
@forward "./product";
@forward "./personal";
@forward "./addnewcard";
