.logo {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 64px;
  &__img {
    width: 30px;
    height: 30px;
  }

  &__wrap {
    background: var(--background-logo);
    border-radius: 6px;
    padding: 8px 20px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 8px;
  }

  &__name {
    font-size: 1.4rem;
    font-weight: 700;
    color: var(--text-main-color);
  }

  &__highlight {
    color: var(--text-main-color);
    animation: gradientAnimation 5s ease infinite;
  }
}
