/*
    The code was written by programmer Truong Tuan Anh
    Thanks for watching and sharing !!!
*/
html {
  --main-color: #ffb900;
  --main-color-white: #ffff;
  --main-color-red: red;
  --main-color-dark: #000;
  --main-color-grey: #e2dfda;
  --main-color-grey-1: #e2dfda;
  --main-color-grey-2: #eeee;
  --main-color-grey-3: #b9babe;
  --main-color-green: #84ac8d;
  --main-color-highlight: #0071dc;
  --text-main-color: #1a162e;
  --text-main-color-2: #292e39;
  --text-main-color-3: #9e9da8;
  --background-logo: #dbdbe2;
  --background-navbar: #eeeeee;
  --background-color-main: #eeeeee;
  --box-shadow-light-main: #00000029;
  --background-hover-navbar: #b8b8bb;
  --background-color-2: #9e9da8;
  --box-shadow-main-1: rgba(0, 0, 0, 0.08);
  --box-shadow-main-2: rgba(0, 0, 0, 0.2);
}
